@font-face {
    font-family: HACKED;
    src: url(../font/HACKED.ttf);
}
body,html{
	overflow: hidden;
	top:0;
	left:0;
	padding:0;
	margin:0;
	width:100vw;
	min-height: 100vh;
	font-family: HACKED;

}
.uvod{
	position: absolute;
	z-index: 1;
	display: block;
	width: 100%;
	height: 100%;
	background-image: url('../img/bg.png');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.logo{

}